.square-card-wrapper {
  position: relative;
  cursor: pointer;
  a {
    display: inline-block;
    vertical-align: bottom;
  }
  img {
    box-sizing: border-box;
    vertical-align: bottom;
    border: .01rem solid rgba($color: #eee, $alpha: .1);
    border-radius: .1rem;
  }
  p {
      margin-top: .05rem;
      font-size: .24rem;
      @include common-font-color(song-list-item-text);
      @include text-omission(2)
  }
  .play-count {
    position: absolute;
    top: .12rem;
    right: .14rem;
    font-size: .4rem;
    color: #fff;
    transform-origin: top right;
    transform: scale(.5);
    .iconfont.icon-bofang {
      margin-right: .02rem;
      font-size: .4rem;
      transform: scale(.8);
      display: inline-block;
    }
  }
}