.right-top-btn-wrapper {
    padding: .06rem .22rem;
    border: .01rem solid;
    border-radius: .25rem;
    @include border-repo(color-border-1);
    span {
        font-size: .24rem;
        line-height: .34rem;
        @include font-color-repo(color-text-3);
        i {
            margin-right: -.04rem;
            display: inline-block;
            transform: scale(.8);
            font-size: .24rem;
        }
    }
}