.nav-links {
    display: flex;
    font-size: 12px;

    .nav-item {
        margin: 0 2px;
        padding: 0 10px;
        line-height: 45px;
        @include common-font-color(header-text-dark)
        // 处于点击状态时
        // @include common-font-color(header-text-active)
    }
}