.nav-links {
  display: flex;

  .nav-item {
    box-sizing: border-box;
    width: 1.08rem;
    height: 1.08rem;
    margin: 0 .02rem;
    border-radius: 50%;
    @include font-color-repo(color-text-2);
    font-size: .30rem;
    line-height: 1.08rem;
    margin-top: .08rem;
    text-align: center;
    cursor: pointer;
    &.router-link-exact-active {
      // 处于点击状态时
      @include font-color-repo(color-text-1);
      font-size: .36rem;
      font-weight: 600;
    }
  }
}
// 两个之间的间隔8rem