.songlist-card-wrapper {
  @include border-shadow-repo(0, .05rem, .1rem, color-text-5);

  position: relative;
  cursor: pointer;
  a {
    display: inline-block;
    vertical-align: bottom;
  }
  img {
    box-sizing: border-box;
    vertical-align: bottom;
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
  }
  p {
    height: 1.14rem;
    background-color: #232226;
    box-sizing: border-box;
    padding: .22rem;
    font-size: .26rem;
    line-height: .34rem;
    border-bottom-left-radius: .1rem;
    border-bottom-right-radius: .1rem;
    @include background-color-repo(color-fill-bg-1);
    @include font-color-repo(color-text-3);
    @include text-omission-multi(2)
  }
  .play-count {
    position: absolute;
    top: .1rem;
    right: .16rem;
    font-size: .4rem;
    color: $color-white;
    transform-origin: top right;
    transform: scale(.5);
    .iconfont.icon-bofang {
      margin-right: .06rem;
      font-size: .4rem;
      transform: scale(.8);
      display: inline-block;
    }
  }
}