.song-list-item-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
    a {
        display: inline-block;
    }
    img {
        border-radius: 8px;
    }
    .play-count {
        position: absolute;
        top: 2px;
        right: .6em;
        color: #fff;
        .icon-bofang::before {
            font-size: 12px;
            display: inline-block;
            transform: scale(.8);
        }
    }
    p {
        margin: 2px auto;
        line-height: 1.3;
        @include common-font-color(song-list-item-text);

        @include text-omission(2)
    }
}