.header-wrapper {
    display: flex;
    justify-content: space-between;
    height: 45px;
    padding: 0 15px;
    
    .btn-menu, .btn-search {
        @include common-font-color(header-btn-icon);
        font-size: 16px;
        line-height: 45px;
        cursor: pointer;
    }
}