.songlists-inner-page {
  @include background-color-repo(color-fill-bg-3);
  
  .songlists-falls-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: $horizontal-edge-margin;
    .songlist-card {
      margin: 0 .2rem .36rem 0;
    }
  }
}