.module-wrapper {
    .module-header {
        margin: 0 $common-margin-size .26rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .module-title {
            font-size: .34rem;
            line-height: .50rem;
        }
    }
}