// 1.文本省略
// 使用时需设置 width，超出部分出现省略号（传入行数）
@mixin text-omission($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


// 背景色
@mixin background-color-repo($key) {
  background-color: map-get($--day, $key);
  [data-theme="night"] & {
    background-color: map-get($--night, $key);
  }
}

// 字体色
@mixin font-color-repo($key) {
  color: map-get($--day, $key);
  [data-theme="night"] & {
    color: map-get($--night, $key);
  }
}

// 边框色
@mixin border-repo($key, $size:.01rem) {
  border: $size solid;
  border-color: map-get($--day, $key);
  [data-theme="night"] & {
    border-color: map-get($--night, $key);
  }
}

