@mixin common-bg-color($key) {
  background-color: map-get($common-fill-color-day, $key);
  // [data-theme="night"] & {
  //   background-color: map-get($common-fill-color-night, $key);
  // }
  &[data-theme="night"] {
    background-color: map-get($common-fill-color-night, $key);
  }
}

@mixin common-font-color($key) {
  color: map-get($common-font-color-day, $key);
  &[data-theme="night"] {
    color: map-get($common-font-color-night, $key);
  }
}

@mixin find-bg-color($key) {
  background-color: map-get($find-fill-color-day, $key);
  [data-theme="night"] & {
    background-color: map-get($find-fill-color-night, $key);
  }
}

@mixin find-font-color($key) {
  color: map-get($find-font-color-day, $key);
  [data-theme="night"] & {
    color: map-get($find-font-color-night, $key);
  }
}

@mixin find-border-color($key) {
  color: map-get($find-border-color-day, $key);
  [data-theme="night"] & {
    color: map-get($find-border-color-night, $key);
  }
}
