$horizontal-edge-margin: .34rem;

$color-white: #FFFFFF;
$color-black: #000000;

$--day: (
  color-bg: $color-white,
  color-primary: #FF3A3A,
  
  color-primary-label-text: #FF3A3A,
  color-primary-label-bg: #FFE2E2,
  
  color-menu-btn-bg-left: #FF5A4C,
  color-menu-btn-bg-right: #FF1D12,
  color-menu-btn-text: #FF5A4C,

  color-text-1: #333333,  // TAB被选中
  color-text-2: #808080,  // TAB未选中
  color-text-3: #333333,  // menu横栏文字；Module标题、按钮文字；歌单item文字；歌曲item曲名
  color-text-4: $color-white,  // 歌单item右上label
  color-text-5: #999999,  // 歌曲item歌手名；ModuleTab未选中
  color-text-6: #848484,  // 歌曲item描述文字
  color-text-7: #333333,  // 底部播放歌曲名
  color-text-8: #808080,  // 底部播放歌手名
  color-text-9: #212121,  // 歌单广场顶栏
  color-text-10: #555555,  // 歌单广场导航栏文字

  color-border-1: #E6E6E6,
  color-border-2: #E4E1E1,
  color-border-transparent-1: rgb(238, 238, 238, .1),
  color-border-transparent-2: rgb(238, 238, 238, .7),

  color-icon-1: #333333, // 顶栏图标
  color-icon-2: #8B8B8C, // 底栏图标
  color-icon-3: #FF3A3A, // 底栏图标
  
//   color-fill-nav-item-active: #262729,
  color-fill-song-item-active: #cfcfcf,
  color-fill-bg-3: #F8F8F8,
  color-fill-bg-2: #dddddd, // 加载颜色
  color-fill-bg-1: #FFFFFF, // 歌单广场轮播图背景色
  
  color-message-reminding-text: $color-white, // 提示图标文字
  color-message-reminding-bg: #FF3A3A, // 提示图标背景色
);

$--night: (
  color-bg: #17181A,
  color-primary: #A53E37,

  color-primary-label-text: #A53E37,
  color-primary-label-bg: #271819,

  color-menu-btn-bg-left: #3D3D3F,
  color-menu-btn-bg-right: #38383B,
  color-menu-btn-text: #3D3D3F,

  color-text-1: #7F7F80,  // TAB被选中
  color-text-2: #3A3A3C,  // TAB未选中
  color-text-3: #7B7C7D,  // menu横栏文字；Module标题、按钮文字；歌单item文字；歌曲item曲名
  color-text-4: #F6F6F6,  // 歌单item右上label
  color-text-5: #343537,  // 歌曲item歌手名；ModuleTab未选中
  color-text-6: #888888,  // 歌曲item描述文字
  color-text-7: #A2A2A3,  // 底部播放歌曲名
  color-text-8: #5C5D5E,  // 底部播放歌手名
  color-text-9: #BAB9B9,  // 歌单广场顶栏
  color-text-10: #999999,  // 歌单广场导航栏文字

  color-border-1: #1C1D1F,
  color-border-2: transparent,
  color-border-transparent-1: rgb(56, 58, 56, .1),
  color-border-transparent-2: rgb(56, 58, 56, .7),

  color-icon-1: #A2A2A3, // 顶栏图标
  color-icon-2: #4D4D4D, // 底栏图标
  color-icon-3: #A53E37, // 底栏图标

  color-fill-nav-item-active: #262729,
//   color-fill-song-item-active: #cfcfcf,
  color-fill-bg-3: #141416, // 歌单广场歌单瀑布
  color-fill-bg-2: #444444, // 加载颜色
  color-fill-bg-1: #232226, // 歌单广场轮播图卡片背景色

  color-message-reminding-text: #E4C5C3, // 提示图标文字
  color-message-reminding-bg: #A53E37, // 提示图标背景色
);
